{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "overrides": [{
    "test": "./dist/PublicLab.Editor.js",
    "sourceType": "script"
  }]
}
